<h2>Products</h2>
<%= link_to "Create Product", new_product_path %>

<label class="label" for="product_data">Your Products</label>
<table>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %> &nbsp; </td>
      <td><%= link_to 'Edit', edit_product_path(product) %> &nbsp; </td>
      <td>

        Data:
        <span>
          <%- product.data.try(:each) do |key, value| -%>
            {'<%= key %>' => '<%= value %>'}
          <%- end -%>
        </span>
      </td>
    </tr>
  <%- end -%>
</table>

<hr />

<h2>Hstore Queries</h2>
<p> Query the whole database for hstore keys/values for products</p>
<%= render :partial => 'hstore_queries/lint' %>